<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
    <h1>판매자 정보 페이지</h1>
    <br>
    <p>{{info2.seller}}의 정보</p>
    <p>주소 : {{info2.location}}</p>
 
    {% for i in rateall %}
    <p>점수: {{i.grade}}</p>
    <p>한줄평: {{i.comment}}</p>
    <br>
    {% endfor %}

  
    <br><a href="{% url 'detail' post.id %}">뒤로가기</a>

    <form method='POST' action="{% url 'writerinfo' post.id %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="g" id="inlineRadio1" value="1" required>
      <label class="form-check-label" for="inlineRadio1">1</label>
      </div>
      <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="g" id="inlineRadio2" value="2" required>
      <label class="form-check-label" for="inlineRadio2">2</label>
      </div>
      <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="g" id="inlineRadio2" value="3" required>
      <label class="form-check-label" for="inlineRadio2">3</label>
      </div>
      <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="g" id="inlineRadio2" value="4" required>
      <label class="form-check-label" for="inlineRadio2">4</label>
      </div>
      <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="g" id="inlineRadio2" value="5" required>
      <label class="form-check-label" for="inlineRadio2">5</label>
      </div>
      <input type="text" name="c">
      <input class="btn btn-dark" type="submit" value="제출하기" required>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

